:host {
	display: block;
	width: 100%;
	height: 100vh;
}

.home {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

h1 {
	font-size: 3rem;
	color: var(--accent);
}