:host {
	position: absolute;
	bottom: 20px;
	right: calc(100% + 16px);
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn--square.btn--nav {
	--btn-bg: var(--surface-4);
	--btn-height: 56px;
	width: 56px;
	padding: 0;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.18) inset;
}

.btn--square.btn--nav:disabled {
	opacity: 1;
	cursor: not-allowed;
}

.nav-icon {
	width: 30px;
	height: 30px;
	display: block;
}